*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(92, 192, 145);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid .equal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c21d00;
  width: 400px;
  font-size: 50px;
}

.calculator-grid .equal:hover {
  background-color: #f32400;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

.Display {
  text-align: left;
  padding: 10px;
  background-color: #00ff6c;
  width: 400px;
  inline-size: 400px;
  overflow: hidden;
}
